/* LESS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
body {
  padding: 0px;
}
a ul {
  text-decoration: none;
}
#top,
#bottom,
#left,
#right {
  background: #00b5ac;
  position: fixed;
  z-index: 1001;
  -webkit-transition: background 500ms;
  transition: background 500ms;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 15px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}
#top,
#bottom {
  left: 0;
  right: 0;
  height: 15px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}
.social-container {
  width: 44px;
  height: 100px;
  position: absolute;
  top: 10%;
  left: 15px;
  -webkit-box-shadow: 1px 2px 21px 0px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 1px 2px 21px 0px rgba(0, 0, 0, 0.63);
  box-shadow: 1px 2px 21px 0px rgba(0, 0, 0, 0.63);
  z-index: 1000;
}
.social-container div {
  width: 44px;
  height: 50px;
  padding: 7px;
  cursor: pointer;
  color: #2F323A;
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  transition-timing-function: cubic-bezier(0.84, 0.26, 0.83, 0.67);
}
.social-container div:nth-child(1) {
  background-color: #2ecc71;
  margin-right: 5px;
}
.social-container div:nth-child(1):hover {
  background-color: #2F323A;
}
.social-container div:nth-child(1) i:hover {
  color: #2ecc71;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  transition-timing-function: cubic-bezier(0.84, 0.26, 0.83, 0.67);
}
.social-container div:nth-child(2) {
  background-color: #3498db;
}
.social-container div:nth-child(2) i {
  margin-top: 4px;
}
.social-container div:nth-child(2):hover {
  background-color: #2F323A;
}
.social-container div:nth-child(2) i:hover {
  color: #3498db;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  transition-timing-function: cubic-bezier(0.84, 0.26, 0.83, 0.67);
}
.social-container div:nth-child(3) {
  background-color: #136cf9;
}
.social-container div:nth-child(3) i {
  margin-top: 5px;
  font-size: 27px;
}
.social-container div:nth-child(3):hover {
  background-color: #2F323A;
}
.social-container div:nth-child(3) i:hover {
  color: #136cf9;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  transition-timing-function: cubic-bezier(0.84, 0.26, 0.83, 0.67);
}
.nav-container svg {
  cursor: pointer;
  margin-left: 20px;
}
.right-nav {
  width: 100px;
}
.left-nav {
  width: 100px;
}
.st0 {
  fill: none;
  stroke: #00b5ac;
  stroke-width: 14;
  stroke-miterlimit: 10;
  -webkit-transition: stroke 500ms;
  transition: stroke 500ms;
  transition-timing-function: cubic-bezier(0.84, 0.26, 0.83, 0.67);
}
.right-nav {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  transition-timing-function: cubic-bezier(0.84, 0.26, 0.83, 0.67);
}
.indicator-container li {
  list-style-type: none;
}
.indicator-container i {
  color: #00b5ac;
  -webkit-transition: color 500ms;
  transition: color 500ms;
  transition-timing-function: cubic-bezier(0.84, 0.26, 0.83, 0.67);
}
.indicator-container .label {
  color: #00b5ac;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  top: 2px;
}
.indicator-container .label:nth-child(1) {
  margin-left: -40px;
}
.indicator-container .label:nth-child(2) {
  margin-left: -100px;
}
.indicator-container .label:nth-child(3) {
  left: -90px;
}
.indicator-container .label:nth-child(4) {
  left: -40px;
}
.text-container h2,
.text-container p,
.text-container a {
  color: #00b5ac;
  position: relative;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  transition-timing-function: ease-in-out;
  text-decoration: none !important;
}
.text-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  text-shadow: 3px 3px 0px #969696;
}
.text-container p {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
@media (min-width: 1000px) {
  .text-container h2 {
    font-size: 60px;
  }
  .text-container p {
    font-size: 20px;
  }
}
@media (max-width: 999px) {
  .text-container h2 {
    font-size: 30px;
    text-shadow: none;
  }
  .text-container p {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .text-container h2 {
    font-size: 25px;
    text-shadow: none;
  }
  .text-container p {
    font-size: 15px;
  }
}
.col-sm-6 {
  padding: 10px;
  border-radius: 10px;
}
.image-target {
  z-index: 1002;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  transition-timing-function: ease-in-out;
}
.learnMore {
  color: red !important;
}
